# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data & outputs
*.log
*.out
*.tmp
!*.csv
*.png

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# IDE/editor configs
.vscode/
.idea/
*.swp
